body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    background: rgb(6,12,33);
}
.search-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.bgp{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.search-btn {
    color: #1f8ff3;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    margin-top: 15px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.middle {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-box:hover > .search-btn {
    background: #9bf39c;
}

.btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.btn i {
    line-height: 90px;
    font-size: 30px;
    transition: 0.2s linear;
}
.btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before {
    animation: flash 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes flash {
    0% {
        left: -100%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}

.footer{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    position:absolute;
    top: 102%;
    left: 0;
    padding-left: 15px;
    width: 450px;
    background: 0;
    text-align: center;
    color: #fbffff;
    font-family: 'Century Gothic', sans-serif;
}
.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a {
    color: #fffbff;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box ul {
    margin: 0;
    padding: 0;
}
.box li a:hover {
    color: #b9b9b9;
}

.pBox {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 107%;
    left: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}
/* 用pBox的伪元素添加一个面积比pBox略大的矩形,并通过改变层叠次序,置于pBox的下层,达到给pBox设置边框的效果 */
.pBox::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
/* 于上面类似,做一个面积比pBox略大的矩形,并通过改变层叠次序,置于pBox的下层,达到给pBox设置边框的效果 */
.pBox::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    /* 滤镜属性  给图像设置高斯模糊。"radius"一值设定高斯函数的标准差，或者是屏幕上以多少像素融在一起，所以值越大越模糊；如果没有设定值，则默认是0；这个参数可设置css长度值，但不接受百分比值。 */
    filter: blur(40px);
}
.pBox::before,
.pBox::after {
    /* linear-gradient() 函数用于创建一个线性渐变的 "图像"。 参数1:用角度值指定渐变的方向（或角度）  12点钟方向为0deg*/
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
.content {
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}